*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;


}
nav{
    background: #e100ff;
    height: 80px;
    width: 100%;
}
lable.logo{
color: white;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}


nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 45px;
}


.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    }


nav ul li{
    user-select: none;
    display:inline-block;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
}
active,a:hover{
    background:#7da59b;
    transition: .5s;
}











